@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.radial-gradient {
  background: radial-gradient(105.22% 228.71% at 10.74% -24.35%, 
  #FDFDFD 0%, #F45107 52.08%, rgba(254, 254, 254, 0) 100%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.hero-background{
  background: url('/images/herobackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;